@import 'index';
@import 'header';
@import 'footer';
@import 'range-slider';
@import 'listings';
@import 'thank-you';
@import 'detail';
@import 'long-form';
@import '../templates/personal-loan/PL_landing';
@import '../templates/personal-loan/PL_listings';
@import '../templates/personal-loan/PL_detail';
@import '../templates/home-loan/HL_detail';
@import '../templates/business-loan/business.scss';
@import '../templates/lap/lap';
@import '../templates/health-loan/health-loan';
@import '../templates/b2c/b2c';
@import 'menu';
@import 'dashboard';
@import '../templates/b2b/b2b';
@import 'blogs';
@import '../templates/profile/profile';
@import 'homepage';
@import '../templates/credit-profile/CP_score';
@import '../templates/credit-profile/CP_rank';
@import '../templates/credit-profile/CP_utilization';
@import '../templates/credit-profile/CP_age';
@import '../templates/credit-profile/CP_accounts';
@import '../templates/credit-profile/CP_enquiries';
