@mixin main-container {
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @extend %pos-relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.homepage-flow{

.mobile-header{
    @include mid{
        background: $black-gradient !important;
    }

    @include sm{
        background: $black-gradient !important;
    }

    @include xs{
        background: $black-gradient !important;
    }
}

.homepage-banner{
    @include main-container();

    &-wrapper{
        @extend %flex-row;
        justify-content: space-between;
        padding: 50px 65px;
        margin: 128px auto 0;

        @include sm{
            display: flex;
            flex-direction: column;
            margin: 16px auto 0;
            text-align: center;
        }

        @include xs{
            display: flex;
            flex-direction: column;
            margin: 16px auto 0;
            text-align: center;
            padding: 0 28px;
        }

        &-left{
                max-width: 375px;
                width: 100%;

                @include sm{
                    margin: 0 auto;
                    text-align: center;
                    max-width: 500px;
                    width: 100%;
                }

                h1{
                    color: $white;
                    b{
                        color: $green;
                    }
                }
                p{
                    margin-top: 32px;
                    color: $white-70;

                    @include xs{
                        display: none;
                    }
                }
        }

        &-right{
            &-content{
                max-width: 552px;
                width: 100%;

                @include sm{
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 32px;
                }

                img{
                    width: 100%;
                    
                    @include xs{
                        padding-top: 32px;
                    }
                }
            }
        }    
    }
}

//Banner-Content
.banner-content{
    @include main-container();
    display: none;

    @include xs{
        display: flex;
        margin-top: 24px !important;
    }

    &-wrapper{
        p{
            text-align: center;
            color: $white-70;
            
            @include xs{
                padding-top: 24px;
            }
        }
    }

}

//Testimonial-Section

.testimonial{
    @include main-container();
    margin-top: 149.92px !important;

    @include xs {
        padding-top: 0 !important;
        margin-top: 64px !important;
    }

    @include md {
        padding-top: 64px !important;
    }

    &-wrapper{
        padding: 50px 65px;
        @extend %flex-row;
        justify-content: space-between;
        flex-wrap: wrap;

        @include xs {
            margin-top: 0;
            padding: 0;
        }

        @include md {
            margin-top: 0 !important;
            padding: 0;
        }

        &-block{
            max-width: 264px;
            text-align: center;
            flex: 25%;
            
            @include md {
                max-width: 100%;
                flex: 50%;
                margin-top: 32px;
            }

            @include xs{
                max-width: 100%;
                flex: 50%;
                margin-top: 32px;
            }

            h3{
                    margin-top: 10px;
                    color: $white;

                    b{
                        color: $green;
                    }

                    @include xs {
                        margin-top: 8px;
                    }
                }

                p {
                    color: $white-50;
                }

                img {
                    @include xs {
                        width: 32px;
                        height: 32px;
                    }
                }
        }
    }

}

//Content-Section

.buy-section{
    @include main-container();
    margin-top: 146px !important;

    @include xs{
        margin-top: 64px !important;
    }

    &-wrapper{
            padding: 40px 45px;

            @include xs{
                padding: 0 16px;
                text-align: center;
            }
            
            h1 {
                color: $white;
    
                b {
                    // font-weight: 900;
                    color: $green;
                }
            }
    
            p {
                color: $white-70;
                margin-top: 38px;
                text-align: center;
                max-width: 744px;

                @include xs{
                    margin-top: 16px;
                }
            }

            &-paragraph{
                display: flex;
                justify-content: center;
            }
    }
}

//Product Section

.product{
    @include main-container();

    @include xs{
        margin-top: 32px !important;
    }

    &-wrapper{
        @extend %flex-row;
        justify-content: space-between;
        flex-wrap: wrap;

        &-left{
            margin-right: 24px;
            flex: 25%;

            a svg:first-child {
                @include xs {
                    max-width:40px;
                    max-height: 40px;
                }
            }

            @include xs{
                margin-right: 0;
            }

            a:hover {
                background: $green-gradient;
                svg path{
                    fill: $white;
                }
            }

            .flow-arrow {
                @include xs {
                    max-width: 24px;
                }
                path {
                    fill: $white-50;
                }
            }
        }

        &-right{
            a svg:first-child {
                @include xs {
                    max-width:40px;
                    max-height: 40px;
                }
            }
            a:hover {
                background: $green-gradient;
                svg path{
                    fill: $white;
                }
            }
            flex: 25%;

            .flow-arrow {
                @include xs {
                    max-width: 24px;
                }
                path {
                    fill: $white-50;
                }
            }
        }
    }

    &-block{
        @extend %flex-row;
        align-items: center;
        margin-bottom: 24px;
        padding: 32px 48px;
        border-radius: 6px;
        background: $white-10;
        width: 100% !important;
        border: none;
        cursor: pointer;

        @include xs{
            padding: 12px 16px !important;
            margin-bottom: 16px;
        }

        h3{
            max-width: 288px;
            width: 100%;
            margin-left: 48px;
            color: $white;
            text-align: left;

            @include xs{
                max-width: 215px !important;
                width: 100%;
                margin-left: 16px !important;
            }
        }
    }
}

//About Us Section
.aboutUs{
    @include main-container();
    margin-top: 192px !important;

    @include xs{
        margin-top: 64px !important;
    }

    .product-wrapper{
        padding: 0 24px;

        @include xs{
            padding: 0 16px;
        }
    }

    &-left{

        .aboutUs-underline{
            display: flex;

            @include xs{
                display: none;
            }
        }


        h1{
            color: $white;
            b{
                color: $green;
            }
        }
        img{
            max-width: 160px;
            width: 100%;
            margin-top: 16px;
        }

        @include xs{
            flex: 100%;
            text-align: center;
        }

    }
    &-right{
        p{
            color: $white-70;

            @include xs{
                margin-top: 32px;
            }
        }

        @include xs{
            flex: 100%;
            text-align: center;
        }
    }
}

//Feature Section
.features{
    margin-top: 128px !important;

    @include xs{
        margin-top: 64px !important;
    }
}

// Score Section
.score-section{
    margin-top: 128px !important;

    @include xs{
        margin-top: 64px !important;
    }
}


//Trending Offers
.trending-offers-display{
    display: none;
    
    @include xs{
        display: flex;
    }
}

//Banks Holder
.banks-holder{
    margin-top: 160px !important;

    @include xs{
        margin-top: 64px !important;
    }
}

//App Download Section
.app-download{
    @include main-container();
    display: flex;
    margin-top: 128px !important;

    @include xs{
        display: none;
    }

    .app-bg{
        background: #fff url("/assets/images/homepage/app-download-bg.png");
        background-repeat: no-repeat;
        background-size: 265.4px 160px;
        background-position: left bottom;
        z-index: 1;
        width: inherit;
        border-radius: 6px;
    }

    &-wrapper{
        @extend %flex-row;
        justify-content: space-between;
        border-radius: 6px;
        
        &-left{
            padding-top: 100px;
            padding-left: 192px; 

            .app-download-content{
                max-width: 314px;
                width: 100%;

                h2{
                    b{
                        color: $green;
                    }
                }
                p{
                    color: $black-60;
                    margin-top: 16px;
                    margin-bottom: 24px;
                }
            }

            .download-buttons{
                img{
                    max-width: 120px;
                    width: 100%;
                    margin-right: 24px;
                }
            }
        }

        &-right{
            padding-top: 44px;
            padding-right: 194px;
            img{
                max-width: 320px;
                width: 100%;
            }
        }
    }
}

//Blog Section
.blog-wrapper{
    @include xs{
        padding-left: 2px; 
    }
}
}