.listings {
    background: $dark-gradient;

    section:first-child {
        margin-top: 0px;
    }

    section:not(:first-child) {
        margin-top: 64px;
    }

    .score-container {
        margin-top: 0 !important;
    }

    .banner {
        @include xs {
            padding-bottom: 16px;
        }
        &-wrapper {
            @extend %flex-col;
            z-index: 111;
            @extend %pos-relative;
            .top {
                @extend %flex-row;
                justify-content: space-between;
                align-items: center;
                padding-top: 96px;

                @include xs {
                    flex-direction: column;
                    padding-top: 16px;
                }

                h1 {
                    color: $white;
                    max-width: 432px;

                    @include xs {
                        text-align: center;
                        display: none;
                        max-width: 192px;
                    }

                    span {
                        color: $green;
                        font-size: 2.5rem;
                        font-family: "Avenir-Black";
                        line-height: 3rem;

                        @include xs {
                            font-size: 1.25rem;
                            line-height: 1.75rem;
                        }
                    }
                }

                h1.desk-hide {
                    display: none;

                    @include xs {
                        display: flex;
                    }
                }

                .category {
                    @extend %flex-col;
                    max-width: 552px;
                    width: 100%;
                    margin-top: 8px;

                    h5 {
                        color: $white-70;

                        @include xs {
                            display: none;
                        }
                    }

                    &-wrapper {
                        @extend %flex-row;
                        margin-top: 16px;
                        justify-content: space-between;
                        @include stepper-checkbox;
                        display: flex !important;

                        .checkbox-container {
                            width: 100%;
                            @extend %flex-row;
                            justify-content: space-between;
                            align-items: center;

                            @include xs {
                                justify-content: space-around;
                            }
                            label {
                                border: 1px solid $white-25;
                                border-radius: 6px;
                                @extend %flex-col;
                                justify-content: center;
                                align-items: center;
                                padding: 12px 16px 16px 16px;
                                background: transparent;
                                background-position: 100% 100%;
                                width: 25%;
                                max-width: 126px;
                                cursor: pointer;
                                margin-top: 0;
                                display: flex;
                                -webkit-tap-highlight-color: transparent;

                                @include xs {
                                    padding: 10px 12px 8px 12px;
                                    border: 1px solid $white-50;
                                    max-width: 74px;
                                    width: 25%;
                                }

                                h4 {
                                    color: $white;
                                    margin-top: 4px;

                                    @include xs {
                                        font-size: 0.75rem;
                                        font-family: "Avenir-Medium";
                                        line-height: 1.25rem;
                                        margin-top: 0;
                                    }
                                }

                                svg {
                                    width: 40px;

                                    @include xs {
                                        display: block;
                                        transform: scale(0.8);
                                    }
                                    path {
                                        fill: $white-50;

                                        @include xs {
                                            fill: $white-70;
                                        }
                                    }
                                }
                            }

                            #all:checked ~ label[for="all"],
                            #travel:checked ~ label[for="travel"],
                            #shopping:checked ~ label[for="shopping"],
                            #lifestyle:checked ~ label[for="lifestyle"] {
                                background: $green-gradient;
                                background-size: 100% 100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                border: none;
                                transition: border 0.5s;
                                
                                
                                

                                @include xs {
                                    background: $white;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    animation: gradient 0.3s ease-in-out forwards;
                                    border: none;
                                    transition: border 0.5s;
                                }

                                svg {
                                    path {
                                        fill: $white;

                                        @include xs {
                                            fill: $green;
                                        }
                                    }
                                }

                                h4 {
                                    @include xs {
                                        color: $green;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .bottom {
                margin-top: 96px;
                @extend %flex-row;
                justify-content: space-between;
                align-items: center;

                @include xs {
                    margin-top: 32px;
                }

                .cards {
                    h3 {
                        color: $white-70;

                        span {
                            color: $white;
                            font-size: 1.25rem;
                            font-family: "Avenir-Heavy";
                            line-height: 2rem;

                            @include xs {
                                font-size: 1rem;
                                line-height: 1.5rem;
                            }
                        }
                    }
                }

                .filter {
                    margin-right: -17px;
                    button {
                        @include tab;
                    }
                }
            }
        }

        .mobile-background {
            display: none;

            @include xs {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                display: block;
                background: $green-gradient;
                width: 100%;
                z-index: 1;
                border-radius: 0px 0px 24px 24px;
            }
        }
    }

    .divider {
        border: none;
        margin-top: 12px;
        background: rgba(255, 255, 255, 0.25);
        height: 1px;

        @include xs {
            display: none;
        }
    }

    .long-cards {
        padding-bottom: 128px;

        @include xs {
            padding-bottom: 62px;
            margin-top: 0 !important;
        }
        &-wrapper {
            width: 100%;
            @extend %flex-col;
            justify-content: center;
        }
    }
}
