.menu-logout, .menu-login {
    display: none;
    background: $white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999999;
    margin-top: 0 !important;

    .main {
        background: $dark-gradient;
        border-bottom-right-radius: 46px;
        padding: 24px 24px 32px 24px;
        @extend %flex-col;
        img {
            width: max-content;
        }

        .profile {
            margin-top: 32px;
        }

        .image {
            @extend %flex-row;
            justify-content: flex-start;
            align-items: center;

            img {
                max-width: 64px;
                border-radius: 50%;
                margin-right: 16px;
            }

            .hello {
                @extend %flex-col;

                h2 {
                    color: $white;
                }

                p {
                    color: $green;
                }

                h2.name {
                    color: $green;
                }
            }
        }
    }

    .content {
        padding: 0px 24px 0px 24px;
        margin-top: 8px;
        overflow-y: scroll;
        height: calc(100% - 176px);

        .content-wrapper {
            @extend %flex-col;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: auto;
            padding: 24px 0 24px 0;
            border-bottom: 1px solid $black-10;

            &:last-child {
                border-bottom: none;
            }

            a {
                .data {
                    @extend %flex-row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;

                    img {
                        max-width: 24px;
                        margin-right: 24px;
                    }

                    h5 {
                        color: $black-60;
                    }
                }

                &:not(:first-child) {
                    margin-top: 22px;
                }
            }

            .data-expand {
                @extend %flex-col;
                justify-content: flex-start;
                width: 100%;

                &:not(:first-child) {
                    margin-top: 22px;
                }

                .content-wraps {
                    @extend %flex-row;
                    justify-content: space-between;
                    width: 100%;
                }

                &-wrap {
                    @extend %flex-row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;

                    img {
                        max-width: 24px;
                        margin-right: 24px;
                    }

                    h5 {
                        color: $black-60;
                    }
                }
                svg {
                    transition: all 0.4s ease-in-out;
                    transform: rotate(90deg);
                    path {
                        fill: $black-60;
                    }
                }

                .sub-data {
                    display: none;
                    a {
                        margin-top: 16px;
                        padding-left: 16px;
                    }
                }
            }
        }
    }
}

.rotate-menu-icons {
    transform: rotate(270deg) !important;
    transition: transform 0.4s ease-in-out;
}
