.range__slider {
  margin-bottom: 42px;
  .selector {
    position: relative;
    padding: 0px 20px;
    max-width: 400px;
    color: #505d6f;
  }

  h2 {
    margin-bottom: 0;
  }

  .selector .price-slider {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }

  .selector #slider-range {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    background: #c2c6cd;
    height: 2px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .slider_bg {
    width: 100%;
    position: absolute;
    top: 62px;
    border: none;
    background: #c2c6cd;
    height: 2px;
  }

  .selector .ui-slider-handle {
    border-radius: 50%;
    background: radial-gradient(circle at 49%, #c7cbd1 35%, #fff 40%);
    top: -14px;
    width: 28px;
    height: 28px;
    border: 2px solid #f2f2f2;
    outline: none;
  }

  .selector .ui-slider-range {
    background-color: #505d6f;
  }

  .price-slider > .slider-price {
    color: #737d8c;
  }

  .range_container {
    margin: 20px 0px;
  }
  .noUi-tooltip {
    background: $white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 8px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 2px 4px;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: "Avenir-Heavy";
    // font-weight: 800;
    line-height: 1.5rem;

    @include xs {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }

  

  .slider-labels {
    margin-top: 10px;
  }

  .noUi-target,
  .noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .noUi-target {
    position: relative;
    direction: ltr;
  }

  .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background: #e9e8e8;
  }

  .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .noUi-handle {
    position: relative;
    z-index: 1;
  }

  .noUi-stacking .noUi-handle {
    z-index: 10;
  }

  .noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
  }

  .noUi-state-drag * {
    cursor: inherit !important;
  }

  .noUi-base,
  .noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .noUi-horizontal {
    height: 4px;
  }

  .noUi-horizontal .noUi-handle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: $white;
    border: 4px solid $green;
  }

  .noUi-origin.noUi-background {
    background: #e9e8e8 !important;
  }

  .noUi-connect {
    background: $green;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }

  .noUi-origin {
    border-radius: 2px;
  }

  .noUi-target {
    border-radius: 2px;
  }

  .noUi-target.noUi-connect {
  }

  .noUi-draggable {
    cursor: w-resize;
  }

  .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }

  .noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }

  [disabled].noUi-connect,
  [disabled] .noUi-connect {
    background: #b8b8b8;
  }

  [disabled].noUi-origin,
  [disabled] .noUi-handle {
    cursor: not-allowed;
  }
  .container {
    margin-top: 88px;
    position: relative;
    padding: 0 !important;
  }
  .noUi-handle-lower {
    .noUi-tooltip {
      position: absolute;
      top: -38px;
      left: -27px;
    }
  }
  .noUi-handle-upper {
    .noUi-tooltip {
      position: absolute;
      top: -38px;
      right: -27px;
    }
  }
  
  .min-max {
    color: $black-40;
  }
  
  .min-max.right {
    position: absolute;
    right: 0;
    bottom: -28px;
  }
  .min-max.left {
    position: absolute;
    left: 0;
    bottom: -28px;
  }
  
}

#tenure-range, #loan-range {
  .noUi-handle-upper .noUi-tooltip {
    right: -20px;
  }
  .noUi-handle-lower .noUi-tooltip {
    left: -20px;
  }
} 

