.thankyou-page {
    .mobile-background {
        display: none;
        @include xs {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 332px;
            border-radius: 0px 0px 24px 24px;
            background: $green-gradient;;
        }
    }
    .container {
        
        .thankyou-banner {
            background: $white;
            @extend %flex-col;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            background: url("/assets/images/credit-card-flow/short-form-bg.png");
            background-size: 54% auto;
            background-position: left bottom;
            background-color: $white;
            background-repeat: no-repeat;
            margin-top: 128px;
            padding: 42px 16px;

            @include xs {
                background: $white;
                width: 100%;
                padding-top: 64px;
                padding-bottom: 40px;
                margin-top: 24px;
            }

            .top, .bottom {
                @extend %flex-col;
                justify-content: center;
                align-items: center;
            }

            .top {
                max-width: 984px;
                border-bottom: 0.5px solid $gray ;
                width: 100%;
                padding-bottom: 27px;

                @include xs {
                    padding-bottom: 16px;
                }
                h2 {
                    margin-top: 16px;

                    @include xs {
                        margin-top: 14px;
                    }
                }

                h5 {
                    color: $black-60;
                    margin-top: 8px;
                    max-width: 215px;
                    text-align: center;
                }

                img {
                    width: auto;

                    @include xs {
                        width: 80px;
                    }
                }
            }

            .bottom {
                padding-top: 40px;

                @include xs {
                    padding-top: 16px;
                }

                h6 {
                    color: $black-40;
                    max-width: 296px;
                    text-align: center;
                    font-weight: normal;
                }

                .track-button {
                    margin-top: 56px;

                    @include xs {
                        margin-top: 40px;
                    }
                    button {
                        @include primary-cta;
                    }
                }
            }

        }
    }

    .score-container {
        margin-top: 128px !important;

        @include xs {
            margin-top: 64px !important;
        }
    }

    .banner {
        @include xs {
            padding-top: 64px !important;
        }
    }
}

.personal-loan-thankyou {
     .container .thankyou-banner .top h5 {
         max-width: 300px;
     }
}