@font-face {
    font-family: 'Avenir-Black';
    src: url(../../fonts/Avenir-Black-03.ttf);
}
@font-face {
    font-family: 'Avenir-Heavy';
    src: url(../../fonts/Avenir-Heavy-05.ttf);
}
@font-face {
    font-family: 'Avenir-Medium';
    src: url(../../fonts/Avenir-Medium-09.ttf);
}
@font-face {
    font-family: 'Avenir-Roman';
    src: url(../../fonts/Avenir-Roman-12.ttf);
}   