//dropdowns opening
@keyframes drop-open {
    0% {
        opacity: 0;
        transform: scale(0.9);
        transform-origin: left top;
    }
    100% {
        opacity: 1;
        width: 360px;
        transform: scale(1);
        transform-origin: left top;
    }
}

//banner-rotate-card
@keyframes rotate-card {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    80% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        transform: rotate(-9deg);
        transition: transform 2s ease-in-out;
    }
}
//straight slide
@keyframes slide-card {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

//sliding to short forms
@keyframes moving-in {
    from {
        opacity: 0;
        transform: translateX(0%);
        transition: transform 1s ease-in-out;
    }

    to {
        opacity: 1;
        transform: translateX(-100%);
        transition: transform 1s ease-in-out;
    }
}

@keyframes moving-in-rev {
    from {
        opacity: 1;
        transform: translateX(-100%);
        transition: transform 1s ease-in-out;
    }

    to {
        opacity: 0;
        transform: translateX(0%);
        transition: transform 1s ease-in-out;
    }
}

@keyframes moving-out {
    from {
        opacity: 1;
        transform: translateX(0);
        transition: transform 1s ease-in-out;
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 1s ease-in-out;
    }
}

@keyframes moving-out-rev {
    from {
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 1s ease-in-out;
    }

    to {
        opacity: 1;
        transform: translateX(0%);
        transition: transform 1s ease-in-out;
    }
}

//transition of short forms
@keyframes opacity-in {
    0% {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    100% {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
}
