.personal-loan-flow {
    .banner-wrapper {
        max-width: 959px;
        margin: 0 auto;
        padding: 128px 16px 128px 16px;
        @extend %flex-row;
        justify-content: space-between;
        align-items: center;

        @include xs {
            max-width: 100%;
            padding: 0;

        }

        .normal-banner {
            max-width: 400px;

        }
    }

    .lets-find-content {
        max-width: 287px;

        h2 {
            br {
                display: none;
                @include xs {
                    display: block;
                }
            }
        }
    }
}