// @mixin mobile-alignment {
//     @include xs{
//         padding: 24px;
//     }
//     @include md{
//         padding: 24px;
//     }
// }

// //Your Credit Score
// .creditScore{
//     @include main-container();
//     @include mobile-alignment();

//     &-wrapper{
//         @extend %flex-row;
//         justify-content: space-between;
//         padding: 40px 56px;
//         background: url("/assets/images/homepage/app-download-bg.png");
//         background-color: $white;
//         background-repeat: no-repeat;
//         background-size: 265.4px 160px;
//         background-position: left bottom;
//         z-index: 1;
//         width: inherit;
//         border-radius: 6px;

//         @include xs{
//             background-size: 150.49px 90.73px !important;
//         }

//         .underline-img{
//             max-width: 80px;
//             margin-top: 8px;
//         }

//         &-left{   
//             .score-scale-img{
//                 max-width: 360px;
//                 width: 100%;
//                 padding-left: 52px;
//                 padding-top: 16px;

//                 img{
//                     width: 100%;
//                 }
//             }
//         }
//         &-right{
//             .score-graph-img{
//                 max-width: 478px;
//                 width: 100%;
//                 margin-top: 20px;

//                 img{
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }

// //Tip Section
// .tipSection{
//     @include main-container();
//     @include mobile-alignment();
//     padding: 128px 0;

//     &-wrapper{
//         padding: 48px 192px;
//         background: $dark-blue-gradient;
//         border-radius: 6px;

//         @include md{
//             padding: 16px 16px;
//         }
//         @include xs{
//             padding: 16px 16px;
//         }

//         &-head{
//             @extend %flex-row;
            
//             h3{
//                 color: $white;
//             }

//             img{
//                 margin-right: 8px;
//             }
//         }

//         p{
//             color: $white-70;
//             margin-top: 16px; 
//         }
//     }
// }

// //Factors Affecting
// .factors{
//     padding-top: 30px;

//     @include xs{
//         padding-top: 0;
//     }
// }

// //Credit Overview
// .creditOverview{
//     @include main-container();
//     @include mobile-alignment();
    

//     &-head{
//         text-align: center;
//         margin-bottom: 32px;
//         @include xs{
//          text-align: left;   
//          margin-bottom: 16px;   
//         }
//         h2{
//             color: $white;            
//         }
//     }

//     &-wrapper{
//         padding: 40px 192px;
//         background: $white;
//         border-radius: 6px;
//         @extend %flex-row;


//         @include md{
//             padding: 16px 55px;
//         }

//         @include xs{
//             padding: 16px 16px;
//             flex-direction: column;
//         }

    
//         &-left{
//             max-width: 400px;
//             width: 100%;
            
//             &-head{
//                 h3{
//                 color: $black-40;
//                 }
//                 h2{
//                     color: $green;
//                     margin-top: 8px;

//                     @include xs{
//                         margin-top: 4px;
//                     }
//                 }
//                 hr{
//                     width: 100%;
//                     color: $black-10;
//                     margin: 32px 0;

//                     @include xs{
//                         margin: 16px 0 24px;
//                     }

//                 }

//                 @include xs{
//                     text-align: center;
//                 }
//             }

//             &-content{
//                 max-width: 306px;
//                 width: 100%;

//                 .creditOverview-components{
//                     @extend %flex-row;
//                     margin-bottom: 16px;

//                     @include xs{
//                         margin-bottom: 8px;
//                     }

//                     img{
//                         width: 16px;
//                         height: 16px;
//                         margin: 6px 12px 0 0;
//                     }
//                     .sector{
//                         color: $black-40;
//                         max-width: 180px;
//                         width: 100%;
//                         margin-right: 64px;
//                     }
//                     .percentages{
//                         color: $blue;
//                     }
//                 }
//             }
//         }

//         &-right{
            
//             &-content{
//                 max-width: 320px;
//                 width: 100%;
//                 margin-left: 23px;   

//                 img{
//                     width: 100%;
//                 }

//                 @include xs{
//                     margin-left: 0;
//                 }
//             }
//         }

//     }
// }

// //Account Summary

// .account-summary-head{
//     color: $white;
//     text-align: center;

//     @include xs{
//         padding-left: 24px;
//         text-align: left;
//     }
// }

// .account-number{
//     color: $black-60;
// }
// .delayed-bottom{
//     background: $red-gradient;
// }

// // body {
// //     &.credProfile {
        
// //     }
// // }