.lap-listing {
	.banner-wrapper {
		.top {
			h1 {
				max-width: 747px;
			}
		}
	}
	.long-cards-wrapper-card {
		.top {
			.name {
				max-width: 210px;
			}
		}
	}
	.more-about {
		padding-bottom: 64px;
	}
}

.lap-flow {
	.banner-wrapper .normal-banner {
		max-width: 360px;
	}

	.financial-wrapper-card-content {
		max-width: 354px;
	}

	.more-about {
		padding-bottom: 64px;
	}
}