.health-flow {
    .lets-find-content {
        max-width: 318px;
    }
    .popular-cards-slider .popular-cards-slider-card-top .head img {
        width: auto;
        height: auto;
    }
    .popular-cards-slider .popular-cards-slider-card-top .content ul {
        margin-top: 8px;
    }
}

.health-flow.life-insurance {
    .lets-find-content {
        max-width: 280px;
    } 
}