:root {
  --error-color: #DC3737;
  --next-btn: #221F1F;
}

.popular-cards-slider-card {
  cursor: pointer;
}

.filter-cross {
  cursor: pointer;
}

.verified-input {
  background: url("/assets/images/icons/verified.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 97% 80%;
  position: relative;
  /* margin-bottom: 24px; */
  border: 1px solid rgba(34, 31, 31, 0.6);
}

.disabled-input {
  pointer-events: none;
  opacity: 0.3;
}

.input-error p {
  color: var(--error-color);
  font-weight: 900 !important;
  font-size: 12px!important;
  padding: 4px auto !important;
}

.banner-sticky {
  position: fixed;
  top: 100px;
  width: 100%;
}

.banner-sticky_bottom {
  position: static;
  margin-top: 3440px;
}

.listing-banner_selected {
  background-color: #89C142 !important;
  opacity: 1;
}

.credit-card-flow .sms-otp {
  background: url("/assets/images/credit-card-flow/short-form-bg.png");
}

.next-otp-button {
  background: var(--next-btn) !important;
  border: 2px solid var(--next-btn) !important;
}

/*-- Customised  Css --*/

.credit-card-flow section.banner {
  margin-top: 0;
}

/* .card-info.banner-sticky {
  top: 120px;
} */

.long-form .long-form-wrapper .banner-sticky+.form-wrapper {
  max-width: 840px;
  left: 26.5%;
  position: relative;
}

.banner-wrapper .normal-banner h1:first-child strong:first-child, .score-content h2 strong:nth-child(2), .banks-holder .banks h2 strong:nth-child(2), .cstm-bnr-txt h1:nth-child(2) strong:first-child, .c-detail-page .banner-wrapper h1:first-child strong {
  color: #89C142;
}

.lets-find-form .agree .checkbox span p {
  font-size: 0.75rem;
  padding-left: 0;
  line-height: 1.25rem;
}

.lets-find-form .agree .checkbox span p a {
  display: inline-block;
}

.thankyou-page {
  margin-bottom: 70px;
}

.credit-card-flow.c-detail-page button {
  max-width: 134px;
}

.long-form .long-form-wrapper .form-wrapper form .long-form-submit button:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(137, 193, 66, 0.25), 0px 2px 8px rgba(137, 193, 66, 0.25);
  box-shadow: 0px 4px 16px rgba(137, 193, 66, 0.25), 0px 2px 8px rgba(137, 193, 66, 0.25);
}

.header-links>a:last-child {
  margin: 0 0 0 1px;
}

.banks-holder {
  margin-top: 128px !important;
}

.category-wrapper .checkbox-container .banner_label img {
  opacity: 0.5;
}

.category-wrapper .checkbox-container .banner_label.listing-banner_selected img {
  opacity: 1;
}

/* .long-cards-wrapper-card .top .content ul {
  list-style: none;
} */

.credit-card-flow .banner.cstm-mb {
  margin-bottom: 64px;
}

.long-form .long-form-wrapper .card-info .form-range .green-range-wrapper .MuiLinearProgress-colorPrimary {
  background: rgba(255, 255, 255, 0.1);
}

/*-- Checkbox code fateh --*/

.lets-find-form span p {
  display: inline-block;
  padding-left: 25px;
  color: rgba(34, 31, 31, 0.6);
  font-size: 12px;
  line-height: 22px;
}

.lets-find-form span p a {
  color: #221F1F;
  text-decoration: underline;
}

.lets-find-form input[type="checkbox"] {
  float: left;
  position: relative;
  top: 0;
  left: 20px;
  z-index: 999;
  cursor: pointer;
}

/*-- Banner Heading --*/

.listings .banner-wrapper .top h2 {
  color: #ffffff;
  max-width: 432px;
}

.listings .banner-wrapper .top h2, .credit-card-flow .banner h2 {
  color: #fff;
  display: inline-block;
  font-size: 2.5rem;
  font-family: "Avenir-Black";
  line-height: 3rem;
  font-weight: normal;
}

.credit-card-flow .banner h2 strong {
  display: inline-block;
}

.listings .banner-wrapper .top h2:nth-child(2) strong, .credit-card-flow .banner h2:first-child strong:first-child {
  color: #89c142;
}

/*-- Error Styling --*/

.form__group .input-error p {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  line-height: 20px;
}

.form__group .input-error {
  top: 9px;
  float: none;
  display: block;
  text-align: right;
  position: relative;
  right: 0;
}

.checkbox input[type="checkbox"]:checked~label:before {
  border: 2px solid #89C142;
  background: #89C142;
}

.checkbox input[type="checkbox"]:checked~label:after {
  -ms-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.mobile-otp {
  margin: 0 auto;
  position: relative;
  top: 50px;
}

.shortforms-container div[name="cc_holder"] {
  margin: 15px 0;
}

/* .credit-card-flow .lets-find-container .lets-find-forms-container
.lets-find-stepper-wrapper .sf-forms .shortforms-container label {
  width: 48.9%;
  display: inline-block;
  margin-right: 15px;
} */

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .shortforms-container label:last-child {
  margin-right: 0;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .shortforms-container label[for="no"] {
  margin: 0;
}

/* .credit-card-flow .lets-find-container .lets-find-forms-container 
.lets-find-stepper-wrapper .sf-forms .shortforms-container label[for="no"] {
  background: #ffffff;
  color: #89C142;
  box-shadow: 0 0 0 2px #89C142;
  font-family: "Avenir-Black";
  border: none;
} */

.credit-card-flow .lets-find-form form .form__label {
  z-index: -1;
}

.credit-card-flow .lets-find-form form .active-input .form__label, .credit-card-flow .lets-find-form form .filled-input .form__label {
  z-index: 1;
}

.shortforms-container .form__group.field.file-type {
  margin: 0 0 15px;
  display: inline-block;
  max-width: 50%;
}

.credit-card-flow .sf-forms .form__group.field.file-type input[type="file"] {
  position: relative;
  top: 15px;
  visibility: hidden;
}

.credit-card-flow .sf-forms .form__group.field.file-type>img {
  position: absolute;
  left: 20px;
  background: none !important;
  top: 20px;
}

.credit-card-flow .sf-forms .form__group.field.file-type {
  position: relative;
}

/*-- Css Fateh --*/

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .form__group {
  position: relative;
  padding: 0px 20px 10px 20px;
  border-radius: 6px;
  border: 1px solid rgba(34, 31, 31, 0.2);
  height: 64px;
  width: 100%;
  margin: 0 0 15px;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .shortforms-container-buttons>div h4 {
  margin-right: 16px;
  color: rgb(34, 31, 31) !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset!important;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.credit-card-flow .sf-forms .form__group.field.file-type>img[src="/assets/images/icons/cross.svg"] {
  position: absolute;
  left: 90%;
  top: 20px;
  cursor: pointer;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms h5 {
  cursor: pointer;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .shortforms-container-buttons {
  bottom: 30px;
}

.long-forms-wrapper .shortforms-container .form__group.field.file-type {
  max-width: 100%;
}

.row-input-container .long-city {
  width: 60% !important;
}

.row-input-container .long-pincode {
  width: 38% !important;
}

.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  z-index: 1000;
  cursor: pointer;
  margin-left: 0;
  width: 24px;
  height: 24px;
}

.long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container .form__group {
  margin-bottom: 0 !important;
}

.form__group span.error {
  text-align: center;
  color: #f7091d;
  line-height: 1.5rem;
  float: right;
  position: relative;
  top: 6px;
  text-transform: capitalize;
}

.long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container .form__group #word-number {
  bottom: -38px;
  line-height: 16px;
  left: 0;
  font-size: 14px;
}

@media(max-width: 1199px) {
  .banks h2 strong:nth-child(2) {
    display: block;
  }
  .banner-sticky {
    position: static;
    top: 0;
    width: 100%;
  }
  .banner-sticky_bottom {
    margin-top: 0;
  }
  .long-form .long-form-wrapper .banner-sticky+.form-wrapper {
    max-width: 100%;
    left: 0;
    position: relative;
  }
}

@media(max-width: 1023px) and (min-width: 769px) {
  .footer .container .top-connect-social a:not(:last-child) {
    margin-right: 0;
  }
}

@media(max-width: 991px) and (min-width: 769px) {
  .footer .container .top-primary-links ul a li {
    font-size: 14px;
    line-height: 20px;
  }
  .footer .container .top-main-links {
    width: 16.4%;
  }
  .footer .container .top-primary-links {
    width: 38%;
  }
  .footer .container .top-connect {
    /* margin-right: 0 !important; */
    width: 29.6%;
  }
  .footer .container .top-main-links ul a li {
    font-size: 15px;
  }
  .footer .container .top-connect h5 {
    margin-top: 8px;
    font-size: 13px;
  }
}

@media(max-width: 767px) {
  .banks-slider {
    overflow-x: hidden;
  }
}

.credit-card-flow.c-detail-page button {
  min-width: 50% !important;
  white-space: nowrap !important;
}

.dropdown_disabled {
  background: #f4f4f4;
  border: none !important;
}

/* .mobile-otp {
  margin-left: 0;
}
*/

.dropdown-content {
  width: 45%;
  position: absolute;
  left: 365px;
  /* margin-top: 70px; */
}

.long-pincode+.dropdown-content {
  left: 100px !important;
  width: 29% !important;
}