:root {
  --error-color: #DC3737;
  --next-btn: #221F1F;
}

/* .long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container .form__group.error-input {
  border: none;
  background: url(/assets/images/icons/error.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 97% 80%;
  position: relative;
  box-shadow: 0 0 0 2px #DC3737;
} */

.credit-card-flow .lets-find-form form .form__group.verified-input {
  margin-bottom: 0;
}

.disabled-input {
  pointer-events: none;
  opacity: 0.3;
}

.input-error p {
  color: var(--error-color);
  /* font-weight: 900 !important; */
  font-size: 12px;
  padding: 4px auto;
}

.resend_otp {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

.listing-banner_selected {
  background-color: #89C142;
  opacity: 1;
}

.credit-card-flow .sms-otp {
  background: url("/assets/images/credit-card-flow/short-form-bg.png");
}

.next-otp-button {
  background: var(--next-btn) !important;
  border: 2px solid var(--next-btn) !important;
}

/*-- Customised  Css --*/

.credit-card-flow section.banner {
  margin-top: 0;
}

.card-info.banner-sticky {
  top: 100px;
}

.long-form .long-form-wrapper .banner-sticky+.form-wrapper {
  max-width: 840px;
  left: 26.5%;
  position: relative;
}

.banner-wrapper .normal-banner h1:first-child strong:first-child, .score-content h2 strong:nth-child(2), .banks-holder .banks h2 strong:nth-child(2), .cstm-bnr-txt h1:nth-child(2) strong:first-child, .c-detail-page .banner-wrapper h1:first-child strong {
  color: #89C142;
}

.lets-find-form .agree .checkbox span p {
  font-size: 0.75rem;
  padding-left: 0;
  line-height: 1.25rem;
  font-family: "Avenir-Medium";
}

.lets-find-form .agree .checkbox span p a {
  display: inline-block;
}

.thankyou-page {
  margin-bottom: 70px;
}

.credit-card-flow.c-detail-page button {
  max-width: 134px;
}

.long-form .long-form-wrapper .form-wrapper form .long-form-submit button:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(137, 193, 66, 0.25), 0px 2px 8px rgba(137, 193, 66, 0.25);
  box-shadow: 0px 4px 16px rgba(137, 193, 66, 0.25), 0px 2px 8px rgba(137, 193, 66, 0.25);
}

.header-links>a:last-child {
  margin: 0 0 0 1px;
}

.category-wrapper .checkbox-container .banner_label img {
  opacity: 0.5;
}

.category-wrapper .checkbox-container .banner_label.listing-banner_selected img {
  opacity: 1;
}

/* .long-cards-wrapper-card .top .content ul {
  list-style: none;
} */

.credit-card-flow .banner.cstm-mb {
  margin-bottom: 64px;
}

.long-form .long-form-wrapper .card-info .form-range .green-range-wrapper .MuiLinearProgress-colorPrimary {
  background: rgba(255, 255, 255, 0.1);
}

/*-- Checkbox code fateh --*/

.lets-find-form span p {
  display: inline-block;
  padding-left: 25px;
  color: rgba(34, 31, 31, 0.6);
  font-size: 12px;
  line-height: 22px;
}

.lets-find-form span p a {
  color: #221F1F;
  text-decoration: underline;
}

.lets-find-form input[type="checkbox"] {
  float: left;
  position: relative;
  top: 0;
  left: 20px;
  z-index: 999;
  cursor: pointer;
}

/*-- Banner Heading --*/

.listings .banner-wrapper .top h2 {
  color: #ffffff;
  max-width: 432px;
}

.listings .banner-wrapper .top h2, .credit-card-flow .banner h2 {
  color: #fff;
  display: inline-block;
  font-size: 2.5rem;
  font-family: "Avenir-Black";
  line-height: 3rem;
  font-weight: normal;
}

.credit-card-flow .banner h2 strong {
  display: inline-block;
}

.listings .banner-wrapper .top h2:nth-child(2) strong, .credit-card-flow .banner h2:first-child strong:first-child {
  color: #89c142;
}

/*-- Error Styling --*/

.form__group .input-error p {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  line-height: 20px;
}

.form__group .input-error {
  bottom: -24px;
  float: none;
  display: block;
  text-align: right;
  position: absolute;
  right: 0;
}

.checkbox input[type="checkbox"]:checked~label:before {
  border: 2px solid #89C142;
  background: #89C142;
}

.checkbox input[type="checkbox"]:checked~label:after {
  -ms-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.mobile-otp {
  margin: 0 auto;
  position: relative;
  top: 50px;
}

.shortforms-container div[name="cc_holder"] {
  margin: 15px 0;
}

/* .credit-card-flow .lets-find-container .lets-find-forms-container
.lets-find-stepper-wrapper .sf-forms .shortforms-container label {
  width: 48.9%;
  display: inline-block;
  margin-right: 15px;
} */

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .shortforms-container label:last-child {
  margin-right: 0;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .shortforms-container label[for="no"] {
  margin: 0;
}

/* .credit-card-flow .lets-find-container .lets-find-forms-container 
.lets-find-stepper-wrapper .sf-forms .shortforms-container label[for="no"] {
  background: #ffffff;
  color: #89C142;
  box-shadow: 0 0 0 2px #89C142;
  font-family: "Avenir-Black";
  border: none;
} */

.sf-forms .short-form-container .form__label, .long-form .form__label {
  z-index: 0;
}

.sf-forms .short-form-container .form__group .form__field, .long-form .form__group .form__field {
  z-index: 999;
  position: relative;
}

.credit-card-flow .lets-find-form form .active-input .form__label, .credit-card-flow .lets-find-form form .filled-input .form__label {
  z-index: 1;
}

.shortforms-container .form__group.field.upload_button {
  margin: 0 0 15px;
  display: inline-block;
  max-width: 50%;
}

.credit-card-flow .sf-forms .form__group.field.file-type input[type="file"] {
  position: relative;
  top: 15px;
  visibility: hidden;
}

.credit-card-flow .sf-forms .form__group.field.file-type>img {
  position: absolute;
  left: 20px;
  background: none !important;
  top: 20px;
}

.credit-card-flow .sf-forms .form__group.field.file-type {
  position: relative;
}

/*-- Css Fateh --*/

/* .credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .form__group {
  position: relative;
  padding: 0px 20px 10px 20px;
  border-radius: 6px;
  border: 1px solid rgba(34, 31, 31, 0.2);
  height: 64px;
  width: 100%;
  margin: 0 0 15px;
} */

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .shortforms-container-buttons>div h4 {
  margin-right: 16px;
  /* color: rgb(34, 31, 31); */
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.credit-card-flow .sf-forms .form__group.field.file-type>img[src="/assets/images/icons/cross.svg"] {
  position: absolute;
  left: 90%;
  top: 20px;
  cursor: pointer;
  z-index: 999;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms h5 {
  cursor: pointer;
}

/* .credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .shortforms-container-buttons {
  bottom: 30px;
} */

.long-forms-wrapper .shortforms-container .form__group.field.file-type {
  max-width: 100%;
}

.row-input-container .long-city {
  width: 60% !important;
}

.row-input-container .long-pincode {
  width: 38% !important;
}

.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  z-index: 1000;
  cursor: pointer;
  margin-left: 0;
  width: 24px;
  height: 24px;
}

/* .long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container .form__group {
  margin-bottom: 0 !important;
} */

.form__group span.error {
  text-align: center;
  color: #f7091d;
  line-height: 1.5rem;
  float: right;
  position: relative;
  top: 6px;
  text-transform: capitalize;
}

.long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container .form__group #word-number {
  bottom: -38px;
  line-height: 16px;
  left: 0;
  font-size: 14px;
}

/*-- Dec Changes Fateh --*/

.long-form .long-form-wrapper, .c-detail-page .combined-wrapper .banner .banner-wrapper {
  padding-top: 80px;
}

/* .cstm-cal {
  max-width: 49%;
  margin-top: 32px;
} */

/* div#pan_card_text,
div#bank_name_input_with_dropdown, 
div#net_monthly_income_number, 
div#pincode_input_with_dropdown,  
div#salary_bank_name_input_with_dropdown, */

.sf-forms .shortforms-container.pan-card-cont .form__group.field, .sf-forms .shortforms-container .form__group.field.file-type, .sf-forms .shortforms-container.current-address .form__group.field:first-child, .sf-forms .shortforms-container.current-address .form__group.field:nth-child(2) {
  display: inline-block;
  max-width: 49%;
  /* margin-top: 32px; */
  vertical-align: top;
  margin-right: 14px;
}

.credit-card-flow .lets-find-container .shortforms-container .form__group.field.file-type, .sf-forms .shortforms-container.current-address .form__group.field:nth-child(2) {
  margin-right: 0;
}

.sf-forms .shortforms-container.current-address .form__group.field {
  margin-bottom: 16px;
}

div#company_name_input_with_dropdown {
  margin-top: 32px;
}

.credit-card-flow .lets-find-form form .form__group.error-input {
  margin-bottom: 24px;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms:last-child {
  margin-bottom: 89px;
}

div#address_proof_upload_button {
  margin-top: 0;
}

/*-- Latest code bhanu/fateh --*/

.credit-card-flow.c-detail-page button {
  min-width: 50% !important;
  white-space: nowrap !important;
}

.dropdown_disabled {
  background: #f4f4f4;
  border: none !important;
}

/* .mobile-otp {
  margin-left: 0;
}
*/

.dropdown-content {
  width: 45%;
  position: absolute;
  left: 365px;
  /* margin-top: 70px; */
}

.long-pincode+.dropdown-content {
  left: 100px !important;
  width: 29% !important;
}

.credit-card-flow section.banner {
  overflow: visible;
  z-index: 999 !important;
}

/* .credit-card-flow .banner-card {
  margin-top: 100px !important;
  z-index: 999 !important;
} */

.credit-card-flow {
  overflow-x: hidden;
}

.blog-wrapper .content h2 {
  color: #221F1F;
  font-size: 1.25rem;
  text-align: left;
  font-family: "Avenir-Heavy";
  line-height: 2rem;
  padding: 0;
}

.blog-wrapper .content p {
  color: rgba(34, 31, 31, 0.6);
  margin-top: 8px;
  font-size: 0.875rem;
  font-family: "Avenir-Roman";
  line-height: 1.5rem;
}

.credit-card-flow .homepage-banner-wrapper h2, .homepage-flow .buy-section-wrapper h2, .homepage-flow .aboutUs-left h2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Avenir-Black";
  line-height: 3rem;
}

.credit-card-flow .homepage-banner-wrapper h2 strong, .homepage-flow .buy-section-wrapper h2 strong, .homepage-flow .aboutUs-left h2 strong {
  color: #89C142;
}

.homepage-flow .homepage-banner-wrapper {
  padding: 50px 0 50px 146px;
}

.homepage-flow .homepage-banner-wrapper-left {
  padding: 60px 0 0;
}

/* .homepage-flow .banner-card {
  -ms-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
  animation: none;
  top: 0;
  position: relative;
} */

.homepage-flow .homepage-banner-wrapper-right-content {
  position: absolute;
  right: -110px;
  top: -58px;
}

.homepage-flow .homepage-banner-wrapper-right-content {
  max-width: 640px;
}

/* .homepage-flow .testimonial {
  margin-top: 277.92px !important;
} */

.homepage-flow .testimonial-wrapper-block h3 strong, .score-content h2 strong {
  color: #89C142;
}

.homepage-flow .buy-section-wrapper h2 {
  text-align: center;
}

.credit-card-flow .banner-features-block h2 {
  color: #ffffff;
  margin-top: 16px;
  font-size: 1.25rem;
  font-family: "Avenir-Heavy";
  line-height: 2rem;
}

.personal-loan-flow .pl-image {
  position: absolute;
  right: 0;
  top: 204px;
}

.personal-loan-listing .banner-wrapper .top div h2 {
  text-align: center;
  max-width: 640px;
}

.personal-loan-listing .banner-wrapper .top div h2 strong, .listings .banner-wrapper.cstm-bnr-txt h2 strong {
  color: #89C142;
}

.personal-loan-listing .banner-wrapper .top {
  padding-top: 0;
}

.homepage-flow .product-wrapper .product-block .flow-arrow {
  /* position: absolute;
  right: 48px; */
  opacity: 0.5;
}

.homepage-flow .product-wrapper .product-block:hover .flow-arrow {
  opacity: 1;
}

/*-- Customized css for radio btn short form --*/

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms>.shortforms-container {
  margin-top: 0;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .shortforms-container input[type="radio"], .long-forms-wrapper .shortforms-container input[type="radio"] {
  width: 100%;
  height: 64px;
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .sf-forms .shortforms-container>div, .long-forms-wrapper .shortforms-container>div {
  position: relative;
}

.personal-detail-flow .annual-fee-wrapper .left .logo {
  margin-bottom: 40px;
  max-height: 106px;
}

.personal-detail-flow .annual-fee-wrapper .left .logo img {
  max-height: 106px;
}

.c-detail-page .annual-fee-wrapper .left div:nth-child(2)>h3 {
  margin-top: 0;
}

.c-detail-page .annual-fee-wrapper div>h3 {
  margin-bottom: 16px;
}

/* .popular-cards-slider .popular-cards-slider-card-top .content ul li span, */
.long-cards-wrapper-card .top .content ul li span {
  font-size: 0.875rem;
}

.long-cards-wrapper-card .bottom .lifetime h5 p, .popular-cards-slider .popular-cards-slider-card-top .fee p, .popular-cards-slider .popular-cards-slider-card-bottom p, .popular-cards-slider .popular-cards-slider-card-bottom div {
  font-family: "Avenir-Heavy";
}

.popular-cards-slider .popular-cards-slider-card-bottom div, .popular-cards-slider .popular-cards-slider-card-bottom p {
  color: #fff;
}

/* .popular-cards-slider .popular-cards-slider-card-top .head img {
  max-width: 100px;
  max-height: 32px;
  width: auto;
  height: auto;
} */

.financial-wrapper-card-content h3 {
  color: #221F1F;
  margin: 0 0 8px;
}

.financial-wrapper-card .financial-wrapper-card-content p {
  color: rgba(34, 31, 31, 0.6);
  font-family: "Avenir-Heavy";
  line-height: 1.5rem;
}

.popular-cards-slider-card {
  cursor: pointer;
}

.sf-forms .shortforms-container label,
.lets-find-form form label {
  z-index: -1;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms h2 {
  margin-bottom: 32px;
}

.listings .banner-wrapper .top {
  padding: 0;
}

.long-cards-wrapper-card .recommended {
  z-index: 12;
}

.listings .banner-wrapper .top .category {
  margin: -49px 0 0;
}

.thankyou-banner .bottom h2 {
  color: #222 !important;
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0 0;
  font-family: "Avenir-Black";
}

.thankyou-banner .top > div > p {
  font-size: 1.75rem;
  font-family: "Avenir-Heavy";
  line-height: 2.5rem;
  color: #222 !important;
  margin-top: 16px;
}

.thankyou-page .container .thankyou-banner .top h5 {
  color: rgba(34, 31, 31, 0.6);
  margin-top: 8px;
  max-width: 225px;
  text-align: center;
}

.thankyou-page .container .thankyou-banner .bottom .track-button {
  margin-top: 16px;
}

.homepage-flow .app-download-wrapper-left .app-download-content h2 strong {
  color: #89C142;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .shortforms-container .dropdown-content .dropdown-content-links {
  overflow-x: hidden;
}

.health-flow .popular-cards-slider .popular-cards-slider-card-top .head img {
  max-width: 11%;
  height: 34px;
  width: auto;
}

.sf-form .short-forms-wrapper .radio-container>div {
  display: inline-block;
  max-width: 39%;
}

.sf-forms .shortforms-container .radio-container>div {
  display: inline-block;
  min-width: 48.9%;
  position: relative;
  margin-right: 16px;
  margin-bottom: 16px;
}

.sf-forms .shortforms-container .radio-container>div:nth-child(even) {
  margin: 0;
}

.sf-forms .shortforms-container .cstm-cal {
  max-width: 50%;
}

.thankyou-page .container .thankyou-banner .bottom h4 {
  color: rgba(34, 31, 31, 0.4);
  max-width: 296px;
  text-align: center;
  font-weight: normal;
  font-size: 0.875rem;
  font-family: "Avenir-Roman";
  line-height: 1.5rem;
}

.thankyou-page .container .thankyou-banner .bottom h4 {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

/*-- Long Form --*/

.long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container.long-gender {
  display: block;
}

.long-form .long-forms-wrapper .shortforms-container.long-gender .radio-container>div {
  display: inline-block;
  margin: 0 16px 16px 0;
  min-width: 169px;
  position: relative;
}

.long-form .long-forms-wrapper .shortforms-container.long-gender .radio-container>div:last-child {
  margin-right: 0;
}

.long-address .long-pincode {
  width: 38% !important;
  display: inline-block;
  margin: 0 12px 0 0;
}

.long-address .long-city {
  width: 60% !important;
  display: inline-block;
}

.long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container.long-address {
  display: block;
}

.long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container.long-address .form__group {
  margin-bottom: 16px;
}

.long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container.long-terms label {
  border: 0;
  text-align: left;
  padding-left: 36px;
  vertical-align: top;
  padding-top: 0;
}

.long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container.long-terms {
  display: block;
}

/*-- css issues solution --*/

.header-links a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.header-links a:last-child {
  background: -webkit-gradient(linear, left top, right top, from(#56AB2F), to(#93D642));
  background: linear-gradient(90deg, #56AB2F 0%, #93D642 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header-links a:last-child:hover {
  color: #56AB2F;
}

.long-cards-wrapper-card .top .name h3 span {
  display: block;
}

.header-links a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 6px;
}

.credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .shortforms-container .form__group.verified-input {
  margin-bottom: 8px;
}

.long-form form .shortforms-container .dropdown-content {
  width: 360px;
  background: #ffffff;
  border-radius: 6px;
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 99;
  -webkit-box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.08);
  display: none;
  overflow: hidden;
  height: auto;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all ease-in 1s;
  transition: all ease-in 1s;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

.long-form form .shortforms-container .dropdown-content {
  width: 100%;
  top: 72p;
  left: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  padding: 12px;
  height: 152px;
  min-height: 152px;
}

.long-form form .shortforms-container .dropdown-content .dropdown-content-links {
  height: 100%;
  width: 100%;
  opacity: 1;
  overflow-y: scroll;
  padding: 0;
  overflow-x: hidden;
}

.long-form form .shortforms-container .dropdown-content .dropdown-content-links a {
  border-radius: 6px;
  color: #221F1F;
  font-size: 1rem;
  font-family: "Avenir-Heavy";
  line-height: 1.5rem;
  padding: 8px 12px;
}

/*--  Short Form --*/
.error-input.file-type > div {
  position: absolute;
  bottom: -35px;
  left: 10px;
  color: var(--error-color);
  font-weight: bold;
}

.sf-next-button_text {
  color: #221f1f; 
}

.sf-next-button {
  background: #221F1F;
  border: 2px solid #221F1F;
}


.sf-submit-button_text {
  color: #89C142;
}

button.sf-submit-button {
  background: #89C142;
  border: 2px solid #89C142;
}

.credit-card-flow .lets-find-content.otp-card_custom {
  position: relative;
}


.otp-wrapper.login-options {
  position: absolute;
  top: 150px;
}

.otp-wrapper.login-options .form__group{
  font-family: "Avenir-Roman";
  min-width: 270px;
  border: 1px solid rgba(34, 31, 31, 0.2);
  padding: 40px 10px 15px 10px;
  border-radius: 5px; 
}

.otp-wrapper.login-options label.form__label {
  position: absolute;
  top: 10px;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.75rem;
  font-family: "Avenir-Medium";
  line-height: 1.25rem;
  color: rgba(34, 31, 31, 0.6);
}

.input_otp  {
  height: 30px;
  width: 30px;
  margin: auto 10px;
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(34, 31, 31, 0.2);
  outline: none;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Avenir-Heavy";
  color: var(--main-color);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz--border-radius: 0;
}

.input_otp:focus {
  border-bottom: 2px solid rgba(34, 31, 31, 0.6);
}

.otp-wrapper.login-options span {
  font-size: 13px;
  text-align: center;
  display: block;
  line-height: 19px;
  margin: 3px 0 0;
}

.otp-wrapper.login-options .form__group.field {
  margin: 0 0 15px;
}

.cstm-opt-txt span {
  color: rgba(34, 31, 31, 0.4);
}

.otp-wrapper .cstm-opt-txt span {
  text-align: right;
}

.otp-wrapper .cstm-opt-txt span.resend_otp {
  color: #89C142;
  font-size: 14px;
  text-decoration: underline;
}

@media(max-width: 1199px) {
  .banks h2 strong:nth-child(2) {
    display: block;
  }
  .banner-sticky {
    position: static;
    top: 0;
    width: 100%;
  }
  .banner-sticky_bottom {
    margin-top: 0;
  }
  .long-form .long-form-wrapper .banner-sticky+.form-wrapper {
    max-width: 100%;
    left: 0;
    position: relative;
  }
  .blog-wrapper-card div>img {
    display: none;
  }
  /* .blog-wrapper .card-1 .content, .blog-wrapper .card-2 .content, .blog-wrapper .card-3 .content {
    min-height: 304px;
  } */
}

@media(max-width: 1023px) and (min-width: 769px) {
  .footer .container .top-connect-social a:not(:last-child) {
    margin-right: 0;
  }
}

@media(max-width: 991px) and (min-width: 769px) {
  .footer .container .top-primary-links ul a li {
    font-size: 14px;
    line-height: 20px;
  }
  .footer .container .top-main-links {
    width: 16.4%;
  }
  .footer .container .top-primary-links {
    width: 38%;
  }
  .footer .container .top-connect {
    /* margin-right: 0 !important; */
    width: 29.6%;
  }
  .footer .container .top-main-links ul a li {
    font-size: 15px;
  }
  .footer .container .top-connect h5 {
    margin-top: 8px;
    font-size: 13px;
  }
}

@media(max-width: 767px) {
  .banks-slider {
    overflow-x: hidden;
  }
  .listings .banner-wrapper .top h2:nth-child(2) strong {
    color: #fff;
  }
  .listings .banner-wrapper .top h2, .credit-card-flow .banner h2, .credit-card-flow .homepage-banner-wrapper h2, .homepage-flow .buy-section-wrapper h2, .homepage-flow .aboutUs-left h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .credit-card-flow .banner h2:first-child {
    display: block;
  }
  .homepage-flow .testimonial .bottom-block {
    margin-top: 32px !important;
  }
  .homepage-flow .product-wrapper-left a img:first-child, .homepage-flow .product-wrapper-right a img:first-child {
    max-width: 40px;
    max-height: 40px;
  }
  /* .homepage-flow .aboutUs-left .aboutUs-underline {
    display: none;
  } */
  .credit-card-flow .lets-find-content.otp-card_custom {
    max-width: 100%;
  }
  .otp-wrapper.login-options {
    min-width: 100%;
    position: relative;
    top: 40px;
  }
  .credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms h2 {
    margin-bottom: 12px;
  }
  /* div#cc_holder_bank_input_with_dropdown {
    margin-top: 8px;
  } */
  .credit-card-flow .lets-find-container .lets-find-forms-container .sf-forms .shortforms-container>div#employment_type_cc_radio {
    display: flex;
  }
  /* .cstm-cal {
    max-width: 100%;
    margin-top: 16px;
  } */
  /* div#pan_card_cc_text, 
  div#net_monthly_income_cc_number, 
  div#salary_bank_name_cc_input_with_dropdown { 
    margin: 0 0 16px;
    max-width: 100%;
  }*/
  /* div#city_input_with_dropdown, */
  .credit-card-flow .lets-find-container .shortforms-container .form__group.field.file-type {
    max-width: 100%;
  }
  /* .credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .form__group {
    margin: 0 0 8px;
  } */
  .listings .banner-wrapper.cstm-bnr-txt h2 strong, .personal-loan-listing .banner-wrapper .top div h2 strong, .ltrong {
    color: #fff;
  }
  .listings .banner-wrapper.cstm-bnr-txt h2 {
    text-align: center;
    margin: 22px 0 3px;
  }
  .long-cards-wrapper-card .top .name .mob-logo {
    max-height: 30px;
  }
  .sf-forms .shortforms-container .radio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .sf-forms .shortforms-container .radio-container>div:nth-child(even) {
    margin: 0 0 8px;
  }
  .sf-forms .shortforms-container .radio-container>div {
    min-width: 47%;
  }
  .sf-forms .shortforms-container .radio-container>div {
    min-width: 47%;
    display: flex;
    justify-content: space-between;
    margin: 0 8px 8px 0;
  }
  .sf-forms .shortforms-container .cstm-cal {
    max-width: 100%;
  }
  .sf-forms .shortforms-container.pan-card-cont .form__group.field, .sf-forms .shortforms-container .form__group.field.file-type {
    max-width: 100%;
    margin-bottom: 8px;
  }
  .sf-forms .shortforms-container.current-address .form__group.field {
    margin-bottom: 8px;
  }
  .sf-forms .shortforms-container.current-address .form__group.field:first-child {
    margin-right: 8px;
    max-width: 47%;
  }
  .long-form .long-form-wrapper {
    padding-top: 0;
  }
  .long-form .long-forms-wrapper .shortforms-container.long-gender .radio-container>div {
    margin: 0 8px 8px 0;
    min-width: 48%;
  }
  .long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container .form__group {
    margin-bottom: 8px;
  }
  .long-form .long-forms-wrapper .shortforms-container.long-gender .radio-container>div:nth-child(even) {
    margin-right: 0;
  }
  .long-address .long-pincode, .long-address .long-city {
    width: 100% !important;
    display: inline-block;
    margin: 0 0 8px 0;
  }
  .long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container {
    display: block;
  }
  .long-form .long-form-wrapper .form-wrapper form .long-forms-wrapper .shortforms-container .form__group.error-input, .sf-forms .shortforms-container .form__group.error-input {
    margin-bottom: 24px;
  }
  .long-form .long-form-wrapper, .c-detail-page .combined-wrapper .banner .banner-wrapper {
    padding-top: 16px;
  }
  .cstm-heading h2 {
    color: #ffffff;
    text-align: center;
    font-weight: inherit;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Avenir-Black";
  }
  
  .credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .shortforms-container.pan-card-cont, 
  .credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper .sf-forms .shortforms-container.monthly-earn {
    display: block;
  }

  .lets-find-form .agree .checkbox span p {
    font-size: 0.625rem;
    line-height: 1rem;
  }

  .popular-cards-slider .popular-cards-slider-card-bottom div {
    font-size: 0.875rem;
    line-height: 1.5rem; 
  }

  .credit-card-flow .lets-find-container .lets-find-forms-container .lets-find-stepper-wrapper {
    min-height: 635px;
  }

  .thankyou-page .container .thankyou-banner .bottom h4 {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .thankyou-banner .top > div > p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  
  .thankyou-page .container .thankyou-banner .top h5 {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  .mobile-otp {
    width: 100%;
  }

  .otp-wrapper.login-options .form__group {
    min-width: 100%;
  }

  .long-cards-wrapper-card .top .content ul li span {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

}

@media(max-width: 767px) {
  .lets-find-container-top {
    position: absolute !important;
    top: 0 !important;
  }
  .banner-features-container-switch {
    margin-top: 780px;
  }
  .details-button-div {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 150% !important;
    text-align: center !important;
    padding-top: 0px;
    background: linear-gradient(90deg, #0D2333 0%, #040A0F 100%) !important;
  }
  .details-button-div>button {
    margin: 10px !important;
    display: block !important;
    font-size: 0.875rem;
    line-height: 1.5rem;
    height: 56px;
    width: 83%;
  }
}

@media(max-width: 479px) {
  .sf-submit-button_text {
    margin-right: 5px !important;
    font-size: 12px;
  
    text-align: right;
    line-height: 15px;
  }
}

.MuiLinearProgress-barColorPrimary {
  background-color: #89C142 !important;
}

.interim-class {
  height: 100vh !important;
  width: 100vw !important;
  background: linear-gradient(90deg, #0D2333 0%, #040A0F 100%) !important;
}

.dropdown-content {
  display: block;
  z-index: 9999;
}

.page-not-found_center_msg {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  font-weight: 900;
}