:root {
  --main-text-color: #ffffff;
  --main-background-color: #7FB555;
  --active-header-color: orange;
}

html,
body {
  background-color: #0C212F;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  width: 100vw;
  height: calc(100vh - 100px) !important;
}