:root {
  --main-text-color: #ffffff;
  --main-background-color: #7FB555;
  --active-header-color: orange;
}

html,
body {
  background-color: #0C212F;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  width: 100vw;
  height: calc(100vh - 100px) !important;
}


.credit-card-banner {
  height: 96px;
width: 298px;
left: 252px;
top: 240px;
border-radius: nullpx;

}

.credit-card-description {
  position: absolute;
  width: 298px;
  height: 96px;
  left: calc(50% - 298px/2 - 319px);
  top: 240px;
  
  /* Title Black 40 */
  
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */
  
  
  /* White100 */
  
  color: #FFFFFF;
}
