.header_title {
  color: var(--main-text-color);
}

.buttons {
  color: var(--main-text-color) !important;
  background-color: var(--main-background-color) !important;
  font-weight: 900;
}

.header_lower_text_div {
  width: 100%;
}

.header_lower_text {
  color: var(--main-text-color);
  margin-left: 80px;
  margin-top: 80px;
  float: left; 
}

.form {
  margin-bottom: 40px;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
}